.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
*.Rproj
inst/extdata/x.csv
inst/extdata/y.csv
inst/extdata/x_test.csv
inst/extdata/y_test.csv
inst/extdata/x_input_lars.csv
inst/extdata/parameter_old/
